body {
    font-family: Arial, sans-serif;
    background-color: #5900ff;
}

.hero {
    background-color: #536e8b;
    height: 50vh;
}

.market, .trade, .wallet {
    padding: 50px 20px;
}

footer {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content nav ul {
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

.footer-content nav ul li {
    margin-left: 20px;
}

#home.home{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.a24.com%2Fcriptomonedas%2Fcomo-se-ven-a-largo-plazo&psig=AOvVaw0PDWP0FrANa8IYWcauCy1r&ust=1719690883003000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCIi5jf-J_4YDFQAAAAAdAAAAABAE);
}